/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  overflow: hidden; /* Sin scroll */
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Video de fondo */
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ocupa toda la pantalla */
  z-index: -1; /* Detrás del contenido */
}

/* Encabezado */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 20px 40px;
  z-index: 2;
}

/*CENTRAR TEXTO DEL MENÚ */
.nav-left {
  display: flex;
  gap: 30px;
  width: 100%;  
  justify-content: center; /* Centra los enlaces */
}

.nav-left a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-left a:hover {
  color: gray;
}

/* Contenido central */
.main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.main h1 {
  font-size: 4rem;
  letter-spacing: 5px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
}
